<div class="block">
          <h3>Sidebar</h3>
          <ul class="navigation">
            <li><a href="#block-text">Text</a></li>
            <li><a href="#block-tables">Tables</a></li>
            <li><a href="#block-forms">Forms</a></li>
            <li><a href="#block-messages">Messages</a></li>
            <li><a href="#block-forms-2">2 Columns Forms</a></li>
            <li><a href="#block-lists">Lists</a></li>
          </ul>
        </div>