<div class="block">
  <h3>Seasons</h3>
  <ul class="navigation">
  	<% seasons.each do |season| %>
    <li class="<%= 'active' if season == @season%>"> <%=link_to h("Season: "+season.name), season_path(season)%> </li>
    <% end -%>
  </ul>
</div>