<div class="block">
  <h3><%= t 'season.name', :name => h(@round.season.name) %></h3>
  <ul class="navigation">
  	<% @round.season.rounds.each do |round|%>
    <li class="<%= 'active' if round == @round%>"><%= link_to t('round.name', :name => h(round.name)), season_round_path(round.season, round)%> </li>
    <% end -%>
  </ul>
</div>