<div class="left">
  <a href="#"><img class="avatar" src="/images/avatar.png" alt="avatar" width="50" /></a>
</div>
<div class="item">
  <p><%= render :partial => 'layouts/timestamp', :object => answer -%> | <%= link_to t('answer.edit'), edit_season_round_question_answer_path(answer.question.round.season, answer.question.round, answer.question, answer) if can_edit_answer? answer.question %></p>
  <p><%=RedCloth.new(h (answer.body)).to_html %></p>
</div>
