
--- 
roles: 
  columns: 
  - id
  - name
  records: 
  - - "1"
    - admin
  - - "2"
    - judge
  - - "3"
    - member

--- 
roles_users: 
  columns: 
  - role_id
  - user_id
  records: 
  - - "1"
    - "1"

--- 
users: 
  columns: 
  - id
  - login
  - name
  - email
  - crypted_password
  - salt
  - created_at
  - updated_at
  - remember_token
  - remember_token_expires_at
  - activation_code
  - activated_at
  records: 
  - - "1"
    - admin
    - ""
    - pavel.druzyak@gmail.com
    - dc96b3681fd73e5e2e0ba838897d0081ee9583ff
    - cf246b674bccfb54aac30ad52e8fbcb0032e730d
    - 2009-02-18 01:23:47
    - 2009-02-18 01:23:47
    - 
    - 
    - ab45a5ae798fb7b22678a3030a1179cac0d4617f
    - 2009-02-18 01:23:47
